NODE_ID=1

UML_IF_SLIRP_MACADDR=02:42:ac:11:00:02
EG_MACADDR=18:17:11:AA:00:01

DN42_I_AS=4225470001

DN42_IPV4_NET_BOARDCAST_LEN=28
DN42_IPV6_NET_BOARDCAST_LEN=60

DN42_IPV4=10.127.111.1
DN42_IPV6=fd10:127:e00f:1::1

DN42_IPV4_NET_BOARDCAST=10.127.111.0/28
DN42_IPV6_NET_BOARDCAST=fd10:127:e00f::/60

DN42_IPV6_LL=fe80::aa:1111:1

DN42_REGION=52

DN42AP_TITLE=KusakabeSi's DN42 Peering Portal (HK)

BIRDLG_SERVERS=Hong Kong<172.16.0.3>

BIRDLG_NAVBAR_BRAND_URL=/autopeer/
BIRDLG_NAVBAR_BRAND=Peer with this node(Click me!)

HTML_AUTOPEER=1
HTML_LG=/summary/127.0.0.1
HTML_LOCATION=3

EG_PRIVKEY=4CG4n1KlIkpHSX3x2kLsbQbjDpL+NzXZO0XXCFeRd0Y=
WG_PRIVKEY=GKVRcFNS23tucUz4K6yHZSnv/SHt26FBBiZx718osmQ=
WG_PUBKEY=2JHMpwkKaAMuMBrmapx9zqgGDIZOX9HZw5V2c1l66R8=

CLOUDFLARED=1
CLOUDFLARED_TUNNEL_CRET={"AccountTag":"7ff7c0fe25600300189f98f5a4a531ec","TunnelSecret":"dxrY+dHtrg00atDnoTgk49j1GKpjmz/kEBWw3OkTFz8=","TunnelID":"a5da1826-cf1a-45f0-9781-78b4406f0f09","TunnelName":"hk42ap"}

FRPC_REMOTE_PORT=30001
FRPC_USER=kskbrr
FRPC_TOKEN=KcuXDkcDvzb4HtNR
FRPC_PROTO=tcp

REBOOT_BOOTON_URL=https://example.com
